.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    background-color: black;
    color: white;

    height: 9rem;
}

.logo a {
    cursor: pointer;
    font-size: 2.5rem;
    color: white;
}

.logo:visited {
    color: white;
}

.navbar-links-container {
    display: flex;
    align-items: center;
    gap: 4rem;
    font-size: 1.7rem;
}

.navbar-links-container a {
    color: red;
    cursor: pointer;

    transition: all .3s ease-in-out;
}

.navbar-links-container a:hover {
    color: white;
}

.cart-container {
    font-size: 2rem;
    cursor: pointer;

    transition: all .3 ease-in-out;
}


.cart-container:hover {
    color: red;
}